*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    background-color: whitesmoke;
}

/*Menu*/

header{
     width:100%;
    background: whitesmoke;
    padding: 10px 8%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    top:0;
    z-index:999;
}

.Logo img{
    width: 120px;
    background-color: transparent;
}
.menu-grupo{
    display:flex;
    align-items: center;
    gap:40px;
}

nav{
    display: flex;
    gap: 30px;
}

nav a{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    transition: color 0.3s ease;
}

nav a:hover {
        color: #C5A059; /* Cor de destaque (mude para a cor da sua loja) */
}

.botao-menu {
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke; /* Cor vibrante para chamar atenção */
    color: #FFD700;
    border: none;
    padding: 12px 24px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase; /* Letras maiúsculas para dar destaque */
    letter-spacing: 1px; /* Espaçamento entre as letras do botão */
    border-radius: 4px; /* Cantos levemente arredondados */
    cursor: pointer;
    transition: all 0.3s ease;
}

.botao-menu:hover {
    background-color: #C5A059; /* Tom um pouco mais escuro quando passa o mouse */
    transform: translateY(-2px); /* Faz o botão levantar levemente */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.99); /* Cria uma sombra brilhante fina */
}

/*Fim Menu*/

/*Banner*/

.banner{
    width:100%;  /*Faz a seção ocupar toda a largura horizontal da tela.*/
    min-height:90vh; /*efine uma altura mínima para a seção correspondente a 90% da altura da tela do usuário. Isso garante o efeito visual "tela cheia" logo que a loja carrega.*/
    display:flex; /*Alinha o bloco de textos e o bloco da imagem lado a lado, em uma linha horizontal.*/
    align-items:center; /*Alinha os conteúdos perfeitamente no centro vertical (no meio da altura da tela).*/
    justify-content:center; /*Centraliza os blocos horizontalmente na tela.*/
    padding:60px 8%; /*Cria um respiro interno para os elementos não colarem no menu de cima e mantém o recuo padrão de 8% nas laterais que você já usou no topo.*/
    gap:60px; /* Garante uma distância segura e elegante de 60px entre o bloco de texto e a imagem do produto.*/
    background: whitesmoke;
}

.banner-texto{
    flex: 1;
}

.banner-texto span{
    color:#8d7754; /*Define a cor do texto como um tom de dourado envelhecido ou bronze. É uma cor clássica usada em e-commerce de luxo para indicar sofisticação.*/
    text-transform:uppercase; /* Transforma todas as letras em maiúsculas. Isso dá um aspecto mais imponente e estruturado ao texto.*/
    letter-spacing:3px; /*Cria um espaçamento de 3px entre cada letra. Essa é a principal técnica de tipografia de luxo; o espaçamento amplo deixa o texto leve, sofisticado e fácil de ler.*/
    font-size:14px; /*Define um tamanho de letra pequeno e discreto, ideal para um subtítulo ou etiqueta que fica logo acima do título principal.*/
}
/**/
.banner-texto h1{
    font-size:70px; /*Define um tamanho de letra gigante (70px). Isso traz imponência e deixa claro que este é o destaque principal da página.*/
    line-height:1.1; /*Define a altura da linha. O valor 1.1 deixa as linhas de texto bem próximas uma da outra caso o título quebre em duas linhas. Isso evita que o título fique espalhado e mantém o visual compacto e elegante.*/
    margin:20px 0; /*Cria um espaçamento de 20px em cima e embaixo do título, afastando-o do subtítulo dourado (que fica acima) e da descrição/botão (que ficam abaixo).*/
    color:#111; /*Define a cor do texto como um preto muito escuro (quase puro). Títulos pretos transmitem solidez, modernidade e combinam perfeitamente com o fundo escuro do seu menu.*/
}

.banner-texto p{
    color:#555; /**/
    line-height:1.8; /* Define um espaçamento generoso entre as linhas. Isso dá "respiro" ao parágrafo, impedindo que as letras fiquem amontoadas e tornando a leitura muito mais fluida.*/
    max-width:500px; /* Limita a largura máxima do texto a 500px. Em telas grandes de computador, se o texto ficasse longo demais da esquerda para a direita, seria horrível de ler. Essa linha mantém o parágrafo compacto e elegante.*/
    margin-bottom:35px; /*Cria uma distância de 35px abaixo do texto. Isso empurra o botão de compra para baixo, dando o espaço necessário para o layout não parecer apertado.*/
}

.banner-texto button {
    padding:15px 40px; /*Cria o espaço interno. Ele é bem alto (15px) e muito largo nas laterais (40px), dando o formato alongado de grife.*/
    border:none; /*Remove aquela borda cinza padrão e feia que os navegadores colocam nos botões.*/
    background:#111; /*Define a cor de fundo como o preto muito escuro que você já está usando no site.*/
    color:#f5f1eb; /*Define a cor do texto. Em vez de usar um branco puro, usa um branco-creme/off-white bem suave, o que traz um aspecto muito mais sofisticado e caro.*/
    cursor:pointer;/*Transforma a seta do mouse na "mãozinha" de clique quando o cliente passa o mouse por cima.*/
    border-radius:40px; /*Arredonda completamente os cantos do botão, deixando ele com o visual moderno em formato de cápsula.*/
    font-size: 15px; /*Define um tamanho de letra ideal e discreto para o texto do botão.*/
    transition:0.3s; /*Prepara o botão para aceitar efeitos de animação suaves (como mudar de cor) em 0.3 segundos quando o usuário interagir.*/
}

.banner-texto button:hover{
    background: #8d7754; /*/* Garante que o texto continue bem legível sobre o dourado */
}

.banner-imag{
    flex: 1; /*Diz para o navegador que este bloco deve crescer e ocupar uma parte igual do espaço disponível dentro da seção. Como o bloco de texto também terá flex: 1, a tela será dividida exatamente em 50% para o texto e 50% para a imagem.*/
    display: flex; /* Transforma o bloco da imagem em um container Flexbox, permitindo alinhar o que estiver dentro dele (a tag <img> do tênis).*/
    justify-content: center; /*Centraliza a imagem horizontalmente dentro do espaço dela. Isso evita que o tênis fique colado no canto direito da tela ou espremido no meio.*/
}

.banner-imag img{
    width: 100%;
    max-width: 600px;
    filter: drop-shadow(0 20px 30px rgba(0,0,0,0.25)); /*Esta é a linha mais importante para um e-commerce. Diferente do box-shadow (que cria uma sombra quadrada ao redor da caixa da imagem), o drop-shadow reconhece o formato exato do tênis (se a imagem tiver fundo transparente .png) e projeta uma sombra realista embaixo dele, dando a impressão de que o produto está flutuando sobre a página.*/
    background-color: transparent;
}

.linha {
    width: 84%; 
    height: 1px; /* Linha ultra fina e elegante */
    margin: 0 auto; /* Centraliza a linha horizontalmente */
    background: linear-gradient(to right, transparent, #8d7754, transparent); /* Degradê dourado que some nas pontas */
    opacity: 0.6; /* Deixa a linha suave e discreta */
}

/*cards tenis*/

.colecao{
    padding: 80px 8% 40px 8%;
    background: whitesmoke;
}

.sub-titulo{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0 10px ; /* Dá um espaço acima do botão e aproxima da vitrine */
}

.btn-confira{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #111;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: 2px solid #111;
    padding: 14px 35px;
    border-radius: 40px; /* Mantém o formato cápsula idêntico ao outro botão */
    transition: all 0.3s ease;
    cursor: pointer;
}
.btn-confira:hover {
    background-color: #8d7754; /* O tom de dourado que você já usa */
    border-color: #8d7754;
    color: #fff;
    transform: translateY(-3px); /* Faz o botão flutuar levemente */
    box-shadow: 0 10px 20px rgba(141, 119, 84, 0.15);
}

.cards{
    display: grid; /*Ativa o modo Grid Layout. Diferente do Flexbox (que organiza itens em apenas uma direção), o Grid cria uma tabela com linhas e colunas, ideal para organizar caixas de produtos.*/
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr)); /*Essa linha é mágica e faz três coisas sozinha:minmax(250px, 1fr): Diz que cada card de produto deve ter no mínimo 250px de largura e no máximo 1fr (expandir para ocupar o espaço restante de forma igual).repeat(auto-fit, ...): O navegador calcula sozinho quantos produtos de no mínimo 250px cabem na tela do usuário. Se a tela for grande (PC), ele coloca 4 ou 5 produtos por linha. Se for um celular, ele reajusta para 1 ou 2 produtos por linha automaticamente, sem você precisar criar códigos extras para celular*/
    gap: 25px; /*Cria um espaçamento fixo de 25px tanto entre as colunas quanto entre as linhas de produtos, impedindo que os cards fiquem colados uns nos outros.*/
}

.card{
    background:#fff; /*Define a cor de fundo do card como branco puro, o que faz os produtos e as fotos se destacarem na tela.*/
    border-radius:20px; /*Arredonda os quatro cantos do card de forma bem visível (20px). Isso traz um visual moderno, amigável e limpo para o layout.*/
    overflow:hidden; /*Esta linha é um truque de CSS essencial. Como os cantos do card são arredondados, se você colocar uma foto quadrada no topo dele, a imagem vai passar por cima das bordas. O overflow: hidden funciona como uma tesoura: ele "corta" automaticamente qualquer conteúdo ou imagem que tente passar do limite dos cantos arredondados do card.*/
    transition:0.4s; /*Deixa o card preparado para aceitar animações suaves (de até 0.4 segundos) quando o cliente interagir com ele, como passar o mouse por cima.*/
    border:1px solid #e7dfd5; /*Cria uma borda fina de 1px ao redor de todo o card. A cor #e7dfd5 é um tom de bege bem suave (off-white), que substitui o cinza comum por uma estética de grife muito mais elegante.*/
}

.card:hover{
    transform: translateY(-10px); /*Quando o cliente passar o mouse por cima do card do tênis, ele vai se deslocar 10 pixels para cima (translateY(-10px)). Como você já colocou a propriedade transition: 0.4s; no bloco anterior, esse movimento vai acontecer de forma suave e elegante, parecendo que o produto flutua para chamar a atenção do comprador.*/
}

.card img{
    width: 100%;
    height: 250px;
    object-fit: contain; /* Mantém o tênis inteiro na tela sem cortar nenhuma parte */
    padding: 20px; /* Cria um respiro para o tênis não encostar nas bordas do card */
    background-color: #fcfbfa; /* Um fundo off-white suave para destacar o produto */
    display: block;
    margin: 0 auto;
}

/*cards marcas*/

.Marcas{
    width: 100%;
    background-color: #faf8f5;
    padding: 40px 8%;
    border-top: 1px solid #e7dfd5;
    border-bottom: 1px solid #e7dfd5;
    background: whitesmoke;
    border: none;
    outline: none;
}

.Marcas-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;  
}

.marcca-logo{
    flex: 1;
    min-width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.6; /* Deixa o logo levemente discreto por padrão */
    transition: all 0.3s ease;
}

.marcca-logo:hover{
    filter: brightness(1); /* Devolve a cor original da logo ao passar o mouse */
    opacity: 1; /* Fica totalmente nítida */
}

.marcca-logo img{
    max-width: 130px; /* Limita a largura máxima do logo */
    height: auto;     /* Mantém a proporção da imagem */
    filter: brightness(0);
    opacity: 0.6;
    background-color: transparent;
    transition: 0.3s ease;
}


.marca-titulo{
    font-family: 'playfair Display', serif;
    font-size: 22px;
    font-weight: 600;
    color: #111;
    text-align: center;      /* Centraliza o texto na tela */
    text-transform: uppercase; /* Deixa em letras maiúsculas para dar imponência */
    letter-spacing: 3px;     /* Cria o espaçamento chique entre as letras */
    margin-bottom: 40px;     /* Empurra os logos para baixo, dando espaço */
}


/*Rodape*/

footer{
    background: whitesmoke;
    margin-top: 100px;
    padding: 70px 8%;
    width: 100%;
    border: none;
    outline: none;
}

.rodape-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(220px,1fr));
    gap: 40px;
    justify-content: center;
    text-align: center;
}

.rodape-box h3{
    margin-bottom: 20px;
    color: #111;
    text-align: center;
}

.rodape-box a{
    display: block;
    text-decoration: none;
    color: #555;
    margin-bottom: 12px;
    transition: 0.3s;
}

.rodape-box a:hover{
    color: #8d7754; /* Muda para o dourado sofisticado no hover */
    transform: translateY(-2px); /* Efeito sutil de subida nos links */
}

.icones{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 15px;
    flex-wrap: wrap;
}

.icones img{
    width: 45px;
    height: auto;
    object-fit: contain; /* Garante que o desenho caiba inteiro na caixinha */
    filter: brightness(0); /* ESTA LINHA TRANSFORMA QUALQUER IMAGEM EM PRETO: */
}

/*Pagina extra*/

.categories{
    padding:80px 8%;
}

.section-title{
    text-align:center;
    margin-bottom:50px;
}

.section-title h2{
    font-size:40px;
    color:#111;
}

.cards1{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:25px;
}

.card{
    background:#fff;
    border-radius:20px;
    overflow:hidden;
    transition:0.4s;
    border:1px solid #e7dfd5;
}

.card:hover{
    transform:translateY(-10px);
}

.card img{
    width:100%;
    height:250px;
    object-fit:cover;
}

.card-content{
    padding:20px;
}

.card-content h3{
    margin-bottom:10px;
    color:#111;
}

.price{
    margin-top:15px;
    font-size:22px;
    font-weight:600;
    color:#8d7754;
}

.Comprarbtn{
    width: 100%;
    padding: 12px;
    background: #111;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 15px;
    transition: 0.3s;
}

/*Tablet*/
@media (max-width: 1024px){
    header {
        padding: 15px 4%;
    }

    .banner {
        flex-direction: column-reverse;
        text-align: center;
        gap: 40px;
        padding: 40px 4%;
    }
    .banner-texto h1{
        font-size: 50px;
    }
    .cards1{
        grid-template-columns: repeat(2, 1fr);
    }
    .cards{
        grid-template-columns: repeat(2, 1fr);
    }
    
}
/*Celular*/
@media (max-width: 768px) {
    header{
        flex-direction: column;
        gap: 20px;
        padding: 20px 4%;
    }
    .menu-grupo{
        flex-direction: column;
        gap: 20px;
        width: 100%;
    }
    nav{
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }
    .botao-menu{
        width: 100%;
        text-align: center;
    }

    .banner-texto h1{
        font-size: 34px;
    }
    .banner-texto p{
        font-size: 14px;
        margin-bottom: 25px;
    }

    .cards1{
        grid-template-columns: repeat(2, 1fr);
        gap: 12px;
    }
    .cards{
        grid-template-columns: repeat(2, 1fr);
        gap: 12px;
    }
    .card img{
        height: 160px;
        padding: 10px;
    }
    .card-content{
        padding: 12px;
    }
    .card-content h3{
        font-size: 14px;
    }

    .price{
        font-size: 14px;
    }
    .Comprarbtn{
        padding: 8px;
        font-size: 14px;
    }
    .Marcas-container{
        justify-content: center;
        gap: 20px;
    }
    .marcca-logo {
        min-width: 40%;
    }
    .rodape-container{
        grid-template-columns: 1fr;
        gap: 30px;
    }





}

